/* ******************** */
/* container-main  */
/* ******************** */

.container-main > div {
	padding:5px;
	text-align: center;
	font-size: 1em;
	color: #ffeead;
}

.container-main > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container-main > div:nth-child(2) {
  background-color: #ff6f69;
}

.container-main > div:nth-child(3) {
  background-color: #88d8b0;
}

.container-main > div:nth-child(4) {
  background-color: #ff6f69;
}



.index{	
	text-align: center;
	font-size: 2em;
	color: #88aabb;
	border: 3px solid Dodgerblue;
	margin-bottom: 2px;
	
}


.container > div {
	padding:5px;
	text-align: center;
	font-size: 1em;
	color: #ffeead;
}


html, body {
  background-color: #ffeead;
  margin: 5px;
  box-sizing: border-box;
  height: 100%;
}

.container > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container > div:nth-child(2) {
  background-color: #ff6f69;
}

.container > div:nth-child(3) {
  background-color: #88d8b0;
}

.container > div:nth-child(4) {
  background-color: #ff6f69;
}

/* ******************** */
/* container-languages  */
/* ******************** */

.container-languages> div {
	
	padding:5px;
	text-align: center;
	font-size: 1em;
	color: #ffccad;
}

.container-languages > div:nth-child(1) {
  background-color: #99aabb;	
}

.container-languages > div:nth-child(2) {
  background-color: #88bbcc;
}

.container-languages > div:nth-child(3) {
  background-color: #77aabb;
}


/* ******************** */
/* container-ide         */
/* ******************** */

.container-ide> div {
	
	padding:5px;
	text-align: center;
	font-size: 1em;
	color: #ffccad;
	
}

.container-ide > div:nth-child(1) {
  background-color: #33aabb;	
}

.container-ide > div:nth-child(2) {
  background-color: #33bbcc;
}

.container-ide > div:nth-child(3) {
  background-color: #33ccdd;
}


/* ******************** */
/* container-ide  */
/* ******************** */

.container-movies> div {
	
	padding:5px;
	text-align: center;
	font-size: 2em;
	color: #ffccad;
	
}

.container-movies > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container-movies > div:nth-child(2) {
  background-color: #ff6f69;
}


/* ******************** */
/* container-ide        */
/* ******************** */

.container-item > div {
	
	padding:5px;
	text-align: center;
	font-size: 2em;
	color: #ffccad;
	
}

.container-item > div:nth-child(1) {
  background-color: #96ceb4;	
}

.container-item > div:nth-child(2) {
  background-color: #ff6f69;
}
.container-item > div:nth-child(3) {
  background-color: #96ceb4;
}


/* ******************** */
/* container-navitation */
/* ******************** */

.container-navigation > li {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
  box-sizing: border-box;
  background-color: #96ceb4;
  list-style-type: none;
}
.container-navigation {
  padding: 0;
}

.search-input {
  background: #ff6e68;
  border: 0;
  width: 100%;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ffeead;
  color: #ffeead;
}

::placeholder{
  color: #ffeead;
}

.search-input:focus {
  outline: none;
}

.container-navigation > li {
  background-color: #96ceb4;
}




