/* 
	flex-start flex-end center space-around
	space-between space-evenly 
	*/
.container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-wrap: wrap;
  
}

.container > div {
	width: 300px;
	

}

