.button {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em; }
  .button:hover {
    background: red; }
  @media screen and (min-width: 640px) {
    .button {
      background: green; } }

.suscription {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em; }
  .suscription:hover {
    background: red; }
  @media screen and (min-width: 640px) {
    .suscription {
      background: green; } }
