// trozo de codigo para un boton
@mixin button{
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;

  &:hover{
    background: red;
  }

  @media screen and (min-width: 640px){
    background: green;

  }
}

.button{
  // llamamos mixin
  @include button;
}

.suscription{
  @include button;
}
