main > * {
	background-color: #000000;
	padding: 10px;
	font-size 3em;

}


/* Define grid container*/
/* Mobile */
main {
	box-sizing: border-box;
	display: grid;
	grid-gap: 10px;	

}

/* Desktop */
@media (min-width: 800px){
	main{
		grid-template-areas:
		"header header header"
		"contenido contenido derecha"		
		"footer footer  footer"	
	}
}

/* Grid area */
header{
	grid-area: header;

}


aside: first-of-type {
	grid-area: izquierda
}

article{
	grid-area: contenido;
}

aside: last-of-type{
	grid-area: derecha;
}

footer{
	grid-area: footer;
}












